<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>죄송합니다</title>
    <link href="/CSS/404error.css" type="text/css" rel="stylesheet">
    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>

<body>
<div id="wrap" class="clearfix">
    <section>
        <ul>
            <li><img src="image/500error.png"></li><br><br>
            <li id="text">
                <a>죄송합니다. 해당 페이지가 작동하지 않습니다.</a>
                <br>
                <p>현재 요청하신 사항을 처리할 수 없습니다.<br>
                    다시시도 해주세요.
                </p>
            </li><br><br>
            <li><a href="javascript:history.back(-1)" id="link">이전 페이지</a></li>
        </ul>

    </section>
</div>

</body>
</html>