@charset "UTF-8";
/* 글꼴 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #333;
    font-family: 'GmarketSansMedium';
    font-weight: 300;
}
li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 14px;
}
.clearfix::after, .clearfix::before{
    content: "";
    display: block;
    clear: both;
}
li{
    list-style: none;
}

/* 전체영역 */
#wrap{
    width: 100%;
}

body{
    background: linear-gradient(90deg, #B1B2FF, #AAC4FF);
}

#contents{
    position: relative;
    width: 100%;
    height: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents .background{
    position: relative;
    width: 1200px;
    height: 670px;
    background-color: #F2F4FF;
    border-radius: 20px;
}

#contents .background .logo{
    position: absolute;
    width: 454px;
    height: 458px;
    top: 111px;
    left: 73px;
}

/* 아이디 찾기, 비밀번호 찾기 */
.background > button{
    position: absolute;
    top: 136px;
    width: 268px;
    height: 60px;
    color: #8B8B8B;
    border-style: solid;
    border-color: #B1B2FF;
    border-radius: 5px 5px 0px 0px;
    font-size: 25px;
    cursor: pointer;
}
.background > button:active{
    background-color: #514680;
    color: #FFFFFF;
}
.background .id_bt{
    left: 605px;
    background-color: #EEF1FF;
}
.background .pw_bt{
    left: 873px;
    background-color: #FFFFFF;
    border-left: none;
    border-bottom: none;
}

.textFiled {
    position: relative;
    left: 605px;
    top: 195px;
    width: 536px;
    height: 290px;
    border-style: solid;
    border-color: #B1B2FF;
    border-top: none;
    border-width: 2px;
    border-radius: 0 0 5px 5px;
    background-color: #FFFFFF;
}

/* name, email, check */
.drop_mId{
    position: absolute;
    left: 30px;
    top: 40px;
    width: 320px;
    height: 50px;
}
.drop_mId .mId{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: #B1B2FF;
    outline: none;
    font-size: 18px;
    padding: 10px;
    padding-left: 50px;
}
.drop_mId > img{
    position: absolute;
    top: 11px;
    left: 13px;
    width: 28px;
    height: 28px;
}
.drop_mEmail{
    position: absolute;
    left: 30px;
    top: 120px;
    width: 320px;
    height: 50px;
}
.drop_mEmail .mEmail{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: #B1B2FF;
    outline: none;
    font-size: 18px;
    padding: 10px;
    padding-left: 50px;
}
.drop_mEmail > img{
    position: absolute;
    top: 10px;
    left: 9px;
}
.member_check{
    position: absolute;
    left: 30px;
    top: 200px;
    width: 320px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color: #B1B2FF;
    outline: none;
    font-size: 18px;
    padding: 10px;
}
#check_bt{
    position: absolute;
    left: 380px;
    top: 120px;
    width: 126px;
    height: 50px;
    color: #FFFFFF;
    background-color: #B1B2FF;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

/* 비밀번호 찾기 버튼 */
#find_pw_bt{
    position: absolute;
    left: 657px;
    top: 530px;
    width: 380px;
    height: 65px;
    color: #FFFFFF;
    background-color: #B1B2FF;
    border-radius: 5px;
    border: none;
    font-size: 30px;
}
#find_pw_bt:hover{
    background-color: #514680;
}

/* footer 메뉴 */
.footer_menu{
    position: absolute;
    bottom: 32px;
}
.footer_menu > a{
    position: relative;
    color: #FFFFFF;
    margin-right: 30px;
}
.footer_menu > a::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    top: 1px;
    left: -15px;
}
.footer_menu > a:first-child:before{
    width: 0;
}
.footer_menu > a:last-child{
    margin-right: 0;
}

/* footer CopyRight */
.f_copyright{
    position: absolute;
    bottom: 30px;
    height: 0;
}
.f_copyright > img{
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.f_copyright > p{
    display: inline;
    text-align: center;
    vertical-align: middle;
    color: #EEEEEE;
}
.f_copyright .corp{
    color: #FFFFFF;
}
