/* footer 메뉴 */
#footer{
    height: 196px;
    text-align: center
}
.footer_menu{
    top: 78px;
    left: 415px;
    color: slateblue
}
.footer_menu > a{
    position: relative;
    color: #FFFFFF;
    margin-right: 30px;
}
.footer_menu > a::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    top: 1px;
    left: -15px;
}
.footer_menu > a:first-child:before{
    width: 0;
}
.footer_menu > a:last-child{
    margin-right: 0;
}

/* footer CopyRight */
.f_copyright{
    top: 113px;
    left: 475px;
}
.f_copyright > img{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 50px;
    height: 30px;

}
.f_copyright > p{
    display: inline;
    text-align: center;
    vertical-align: middle;
    color: #EEEEEE;
}
.f_copyright .corp{
    color: #FFFFFF;
}

