#schedule{}

.schedule_bg{
    width: 1450px;
    background-color: #fff;
    float: left;
    margin-top: 20px;
    border-radius: 20px;
    padding: 35px 50px;
    position: relative;
}

.schedule{
    position: relative;
    box-shadow: 0px 0px 15px  #bcbcbc;
    border-radius: 20px;
    padding: 25px 0px;
    margin-bottom: 20px;
}

.schedule > li {
    padding-left: 50px;
}
.schedule > li:first-child{
    margin-bottom: 35px;
}
.schedule > li > span {
    font-size: 26px;
}
.schedule > li > span:first-child {
    margin-right: 15px;
}
.schedule > li > .schedule_date1{
    color: red;
}
.schedule > li > .schedule_date2{
    color: #0047FF;
}
.schedule > li > .schedule_title{
    margin-bottom: 40px;
    font-size: 30px;
}
.schedule > li > .schedule_subject{
    font-size: 18px;
    color: #727272;
    margin-right: 15px;
}
.schedule > li > .schedule_detail{
    font-size: 18px;
}
.schedule > a {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    background-color: #B1B2FF;
    font-size: 26px;
    border: 0px;
    text-align: center;
    line-height: 60px;
    font-family:'GmarketSansMedium';
}
.schedule > a:hover {
    background-color: #514680;
    color: white;
}
.shcedule_create{
    width: 900px;
    height: 780px;
    background-color: #fff;
    padding: 50px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 15px #999;
    border-radius: 20px;
}
.shcedule_create > form > ul{}
.shcedule_create > form > ul > li{
    width: 800px;
    height: 70px;
    margin-bottom: 30px;
}
.shcedule_create > form > ul > li > img{
    display: inline;
    margin: 10px 0px;
}
.shcedule_create > form > ul > li > input:first-child{
    width: 800px;
}
.shcedule_create > form > ul > li > input{
    width: 700px;
    height: 70px;
    border-radius: 20px;
    border: 0;
    background-color: #F2F2F2;
    float: right;
    font-size: 20px;
    padding-left: 20px;
}

.shcedule_create > form > ul > li > input::placeholder{
    color: #BABABA;
}
.shcedule_create > form > input{
    width: 800px;
    height: 70px;
    border-radius: 30px;
    border: 0;
    color: #fff;
    background-image: linear-gradient(135deg, #B1B2FF, #AAC4FF);
    font-size: 25px;
}