#modalWrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 720px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#modalBody>p{
    font-size: 32px;
    text-align: center;
    grid-column: span 4;
}
#modalBody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
#modalBody > button{
    border: 0;
    background-color: transparent;
    font-size: 17px;
    font-family: 'GmarketSansMedium';
    cursor: pointer;
}
#modalBody > button:not(#btn1):not(#btn2):not(#btn3):not(#btn4):not(#btn5):not(#btn6):not(#btn7):not(#btn8):not(#btn9):not(#btn10):not(#btn11):not(#btn12):not(#btn13):not(#btn14):not(#btn15):not(#btn16) {
    margin: 10px;
    padding: 10px;
    width: 130px;
    height: 108px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}