@charset "UTF-8";
/* 글꼴 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* 초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #333;
    font-family: 'GmarketSansMedium';
    font-weight: 300;
}
li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 14px;
}
.clearfix::after, .clearfix::before{
    content: "";
    display: block;
    clear: both;
}

/* 전체영역 */
#wrap{
    width: 100%;
}

body{
    background: linear-gradient(90deg, #B1B2FF, #AAC4FF);
}

#contents{
    position: relative;
    width: 100%;
    height: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents .background{
    position: relative;
    width: 1200px;
    height: 1550px;
    background-color: #F2F4FF;
    border-radius: 20px;
}

#contents .background .logo{
    position: absolute;
    width: 454px;
    height: 458px;
    top: 111px;
    left: 73px;
}

#contents .background > p{
    position: absolute;
    font-size: 40px;
    font-family: 'Fugaz One', cursive;
    color: #514680;
    left: 809px;
    top: 111px;
}

/* id, pw */
.drop_mId{
    position: absolute;
    left: 661px;
    top: 225px;
    width: 380px;
    height: 65px;
}
.drop_mId .mId{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px;
    padding-left: 60px;
}
.drop_mId > img{
    position: absolute;
    top: 14px;
    left: 13px;
}

.drop_mPwd{
    position: absolute;
    left: 661px;
    top: 305px;
    width: 380px;
    height: 65px;
}
.drop_mPwd .mPwd{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px;
    padding-left: 60px;
}
.drop_mPwd > img{
    position: absolute;
    top: 10px;
    left: 9px;
}

/* error_text */
.error_text{
    position: absolute;
    left: 675px;
    font-size: 12px;
    color: #FF7171;
    padding: 5px 0;
    display: none;  /* 에러 뜨면 보이도록 */
}
.error_text::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background-color: #FF7171;
    border-radius: 50%;
    left: -10px;
    top: 12px;
}
#idMsg1{
    top: 380px;
}
#idMsg2{
    top: 404px;
}
#pwMsg{
    top: 428px;
}
#birthMsg{
    top: 768px;
}
#emailMsg{
    top: 792px;
}

/* name */
.drop_mName{
    position: absolute;
    left: 661px;
    top: 465px;
    width: 380px;
    height: 65px;
}
.drop_mName .mName{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px;
    padding-left: 60px;
}
.drop_mName > img{
    position: absolute;
    top: 15px;
    left: 9px;
}

/* birth */
.drop_mBirth{
    position: absolute;
    left: 661px;
    top: 545px;
    width: 380px;
    height: 65px;
}
.drop_mBirth .mBirth{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px;
    padding-left: 60px;
}
.drop_mBirth > img{
    position: absolute;
    top: 15px;
    left: 9px;
}

/* gender */
.gender_btn{
    width: 137px;
    height: 42px;
    border-radius: 5px;
    position: absolute;
    top: 625px;
    left: 691px;
}
.gender_btn2{
    left: 878px;
}
.gender_btn input[type=radio]{
    display: none;
}
.gender_btn label{
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    height: 42px;
    line-height: 42px;
}
.gender_btn input[type=radio]:checked + label {
    background-color: #B1B2FF;
    color: #FFFFFF;
}
.gender_btn input[type=radio] + label{
    background-color: #FFFFFF;
    color: #8B8B8B;
}

/* email */
.drop_mEmail{
    position: absolute;
    left: 661px;
    top: 682px;
    width: 380px;
    height: 65px;
}
.drop_mEmail .mEmail{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 25px;
    padding: 10px;
    padding-left: 60px;
}
.drop_mEmail > img{
    position: absolute;
    top: 15px;
    left: 9px;
}

/* 내 거주지 */
.my_place{
    position: absolute;
    left: 718px;
    top: 850px;
    font-size: 32px;
    color: #2C244F;
}
.my_place > img{
    position: absolute;
    display: inline-block;
    top: 5px;
    left: -57px;
}
.select_box{
    position: absolute;
    width: 200px;
    height: 65px;
    border-radius: 5px;
    -webkit-appearance: none;
    font-size: 28px;
    border: none;
    color: #8B8B8B;
    text-align: center;
}
.city{
    top: 906px;
    left: 657px;
}
.county{
    top: 906px;
    left: 888px;
}

/* 관심지역 */
.interest_place{
    position: absolute;
    left: 718px;
    top: 1010px;
    font-size: 32px;
    color: #2C244F;
}
.interest_place > img{
    position: absolute;
    display: inline-block;
    top: 5px;
    left: -57px;
}
.city2{
    top: 1066px;
    left: 657px;
}
.county2{
    top: 1066px;
    left: 888px;
}

/* 관심사 */
#interest_bt{
    position: absolute;
    top: 1170px;
    left: 657px;
    border: none;
    background-color: #F2F4FF;
    cursor: pointer;
}
.interest{
    position: absolute;
    top: 1177px;
    left: 716px;
    font-size: 32px;
    color: #2C244F;
}
.mInterest{
    position: absolute;
    left: 661px;
    top: 1240px;
    width: 380px;
    height: 65px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 30px;
    padding: 10px;
    padding-left: 20px;
}

/* 회원가입 버튼 */
#join{
    position: absolute;
    left: 661px;
    bottom: 104px;
    width: 380px;
    height: 65px;
    color: #FFFFFF;
    background-color: #B1B2FF;
    border-radius: 5px;
    border: none;
    font-size: 30px;
}
#join:hover{
    background-color: #514680;
}

/* footer 메뉴 */
.footer_menu{
    position: absolute;
    bottom: 78px;
}
.footer_menu > a{
    position: relative;
    color: #FFFFFF;
    margin-right: 30px;
}
.footer_menu > a::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    top: 1px;
    left: -15px;
}
.footer_menu > a:first-child:before{
    width: 0;
}
.footer_menu > a:last-child{
    margin-right: 0;
}

/* footer CopyRight */
.f_copyright{
    position: absolute;
    bottom: 28px;
}
.f_copyright > img{
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.f_copyright > p{
    display: inline;
    text-align: center;
    vertical-align: middle;
    color: #EEEEEE;
}
.f_copyright .corp{
    color: #FFFFFF;
}
