@charset "utf-8";
*{margin: 0;padding: 0; box-sizing: border-box; }
li{list-style: none; font-family:'GmarketSans'; font-weight: 500}
a{text-decoration: none; color: #2C244F;}
img{display: block; width: 150px;}
.clearfix::after, clearfix::before{content: ""; display: block;clear: both;}
p{font-family: 'GmarketSans'; }
h3{font-family: 'GmarketSans';}
body{z-index: 2}
/* 스크롤바 스타일링 */
::-webkit-scrollbar {
    z-index: 0;
    width: 0.5em; /* 스크롤바 너비 */
    height: 0.5em; /* 스크롤바 높이 */
}
/* 스크롤바의 Track 스타일링 */
::-webkit-scrollbar-track {background:rgba(255,255,255,0.65) ;}
/* 스크롤바의 Thumb 스타일링 */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,255,0.1);
    border-radius: 10px;
}
/* 마우스 오버 시 스크롤바의 Thumb 스타일링 */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,255,0.4);
}


/* wrap */
#wrap{width: 1915px; margin: 0 auto;}

/*header*/
#header{width: 400px; height: 1000px; float: left;
    /*background-color: aliceblue*/
}
/*header_logo*/
#header .logo{width: 100%; height: 200px;}
#header .logo>a>img{float: left; width:90%; margin: 10px}

/*header_메뉴*/
#header .menu{ width: 100%; padding: 20px}
#header .menu>ul{}
#header .menu>ul>li{margin-bottom: 82px ;margin-left: 20px;}
#header .menu>ul>li>a{font-size: 40px; margin-left: 25px;}
#header .menu>ul>li>a>img{width: 40px;float: left;}
/*#header .menu>ul>li>a:first-child::before{ line-height: 0px}*/


/* section */
#box{width: 1515px; height: 1000px;  float: left; ;}
#box>div{float: left}
#user{width: 100%; height: 65px;}

/*section_ user*/
#box>#user >ul{float: right}
#box>#user >ul>li{float: left; line-height: 65px;}
#box>#user >ul>li>a{ font-size: 30px; line-height: 70px;}
#box>#user >ul>li>img{/*아이콘 링크 or 이미지*/}
#box>#user >ul>.icon_a{width: 45px; height: 45px; border-radius: 50%; background-color: #AAC4FF ;margin: 10px}
#box>#user >ul>.icon_b>img{width: 30px; height: 30px;  margin-top: 20px ;}

/*view*/
#view{width: 100%; height: 1035px;
    background: linear-gradient(135deg, #B1B2FF, #AAC4FF);
    border-radius: 20px 0 0 0;
    padding-top: 40px;
}
.view{width: 100%; 
    height: 9300px;
    border-radius: 20px 0 0 0;
}
#view::-webkit-scrollbar {
 display: none;
}

/*view_최근소식*/
.view>.l_news{
    width: 1400px; height:720px;  margin: auto;
   border-radius: 20px;
    background-color: rgba(255,255,255,0.65) ;
}
.view>.l_news>ul{width: 1400px;height: 100px}

.view>.l_news>.header>li>p{
    font-size: 35px;  font-family: 'Jalnan'; color: #564797;
    float: left ; padding-left: 25px; margin-left: 25px;line-height: 100px;
    
}
.view>.l_news>.header>li>a{
    margin: 15px;float: right ; line-height: 70px;
    font-size: 25px ;  font-weight:300;
    padding-right: 20px;
}
.view>.l_news>.header>li>a>img{ width: 22px; height: 22px; float: right ; margin-top: 20px ;margin-left: 10px}

.view> .l_news> .inBox{
    width: 1320px; height: 600px; background: linear-gradient(135deg, #B1B2FF, #AAC4FF);
    border-radius: 20px;
    margin: auto; padding: 20px; padding-left: 40px;
}
.inBox>ul{width: 1250px}

/*내모임*/
.inBox>.myMingles{margin: auto;height: 210px;}

.inBox>.myMingles>li{float: left; padding: 10px;}

.inBox>.myMingles>li>img{
    float: left;  margin: 10px;
     border: 10px solid rgba(255,255,255,0.70); border-radius: 55px
    }
.inBox>.myMingles>li>p{ 
    color: #2C244F;
    font-size: 24px; font-weight: 700; text-align: center; line-height: 50px;}

.inBox>.myMingles>a{ width: 50px; height: 210px; 
    background-color: #fff;
    border-radius: 20px; border: none;
   margin: 20px; float: right;
}
.inBox>.myMingles>a>img{width: 40px; margin: auto; padding-top: 80px;}
/*내게시글*/
.inBox>myPost{height: 135px;}
.inBox>myPost>li{float: left}
/*내스케줄*/
.inBox>.mySchedule{height: 220px;}
.inBox>.mySchedule>li{}
