@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
.contents{
    width: 1359px; height: 13702px; background-color: #FFFFFF;
    margin: auto;
    border-radius: 20px;
    position: relative;
}
.mbti_img{
    position: absolute;
    top: 71px;
    left: 85px;
}
.search{
    position: absolute;
    top: 13585px;
    left: 309px;
    font-size: 60px;
    color: #B1B2FF;
    text-decoration: underline;
    font-family: 'GmarketSansMedium';
    border: 0;
    background-color: transparent;
}
.search:hover{
    cursor: pointer;
}