@charset "utf-8";
*{margin: 0;padding: 0; box-sizing: border-box; }
li{list-style: none; font-family:'GmarketSans'; font-weight: 500}
a{text-decoration: none; color: #2C244F;}
img{display: block;}
.clearfix::after, clearfix::before{content: ""; display: block;clear: both;}
p{font-family: 'GmarketSans'; }
h3{font-family: 'GmarketSans';}
body{z-index: 2}
/* 스크롤바 스타일링 */
::-webkit-scrollbar {
    z-index: 0;
    width: 0.5em; /* 스크롤바 너비 */
    height: 0.5em; /* 스크롤바 높이 */
}
/* 스크롤바의 Track 스타일링 */
::-webkit-scrollbar-track {background:rgba(255,255,255,0.65) ;}
/* 스크롤바의 Thumb 스타일링 */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,255,0.1);
    border-radius: 10px;
}
/* 마우스 오버 시 스크롤바의 Thumb 스타일링 */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,255,0.4);
}


/* wrap */
#wrap{width: 1915px; margin: 0 auto;}

/*header*/
#header{width: 400px; height: 1000px; float: left;
    /*background-color: aliceblue*/
}
/*header_logo*/
#header .logo{width: 100%; height: 200px;}
#header .logo>a>img{float: left; width:90%; margin: 10px}

/*header_메뉴*/
#header .menu{ width: 100%; padding: 20px}
#header .menu>ul{}
#header .menu>ul>li{margin-bottom: 82px ;margin-left: 20px;}
#header .menu>ul>li>a{font-size: 40px; margin-left: 25px;}
#header .menu>ul>li>a>img{width: 40px;float: left;}
/*#header .menu>ul>li>a:first-child::before{ line-height: 0px}*/


/* section */
#box{width: 1515px; height: 1000px;  float: left; ;}
#box>div{float: left}
#user{width: 100%; height: 65px;}

/*section_ user*/
#box>#user >ul{float: right}
#box>#user >ul>li{float: left; line-height: 65px;}
#box>#user >ul>li>a{ font-size: 30px; line-height: 70px;}
#box>#user >ul>li>img{/*아이콘 링크 or 이미지*/}
#box>#user >ul>.icon_a{width: 45px; height: 45px; border-radius: 50%; background-color: #AAC4FF ;margin: 10px}
#box>#user >ul>.icon_b>img{width: 30px; height: 30px;  margin-top: 20px ;}

/*view*/
#view{width: 100%; height: 1035px;
    background: linear-gradient(135deg, #B1B2FF, #AAC4FF);
    border-radius: 20px 0 0 0;
    padding-top: 40px;
}
#view::-webkit-scrollbar {
    display: none;
}
/*-------페이지 기본구성(끝)*-------*/
/*view_바꿔야할 부분*/
.view{width: 100%;
    height: 9300px;/* 임의지정 값*/
    border-radius: 20px 0 0 0;
}




/*<section_ view>*/


/*---뷰 전체 기본설정---*/
.view>div{width: 1400px;
    margin: auto; margin-top: 20px;
    border-radius: 20px;
/*---뷰 전체 기본설정(끝)---*/
}



/*---마이페이지 아이콘---*/
.view> .MyPage > img{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
/*---마이페이지 아이콘(끝)---*/
}


/*---마이페이지 텍스트---*/
.view> .MyPage > p{
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Jalnan';
}
.view> .MyPage .title_02 {
    float: left;
}
.view> .MyPage .title_02-1{
    font-size: 20px;
/*---마이페이지 텍스트(끝)---*/
}


/*---마이페이지 세부설정---*/
.view> .MyPage .profile ul{
    margin-top: 30px;
    height: 300px;
    position: relative;
}
.view> .MyPage .profile li{
    height: 240px;
    float: left;
    font-size: 25px;

}
.view> .MyPage .profile p{
    padding-top: 20px;
/*---마이페이지 세부설정(끝)---*/
}


/*---프로필 사진---*/
.view> .MyPage .profile .pimg {
    position: relative;
}

.view> .MyPage .profile .pimg > a > .proimg{
    width: 240px;
    height: 240px;
    border-radius: 100%;
    margin-right: 50px;
    z-index: 2;
/*---프로필 사진(끝)---*/
}


/*---기본정보 텍스트---*/
.view> .MyPage .profile .pimg > a > .edit{
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 40px;
    bottom: 20px;
    position: absolute;
}

.view> .MyPage .profile .text{
    margin-right: 70px;
}
.view> .MyPage .profile li .name {
    font-size: 32px;
    margin-top: 40px;
    font-weight: bold;
    font-family: 'Jalnan';
}
.view> .MyPage .profile li .info{
        padding-top: 15px;
        font-weight: bold;
        font-family: 'Jalnan';
/*---기본정보 텍스트(끝)---*/
}


/*---기본정보 자기소개란---*/
.view .MyPage .inBox{
        width: 900px; height: 240px; background-color: #fff;
        border-radius: 40px;
        padding: 20px;
        padding-left: 40px;
}
.view .MyPage .inBox .coment {
    font-size: 30px;
    font-family: 'GmarketSans';
    white-space: pre-line;
}
.view .MyPage .edit_2 {
    width: 30px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    position: absolute;
/*---기본정보 자기소개란(끝)---*/
}


/*---내모임 제목---*/
.view > .MyPage .myclass {
    width: 1400px;
    background-color: rgba(255,255,255,0.65);
    height: 300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
/*---내모임 제목(끝)---*/
}


/*---내모임 출력---*/
.view > .MyPage .myclass {
    position: relative;
}

.view > .MyPage .myclass > ul {
    width: 195px;
    height: 240px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 30px;
    float: left;
}

.view > .MyPage .myclass .mycb_01 {
    margin-left: 30px;
    opacity: 0.65;
    z-index: 1;
    position: absolute;
}

.view > .MyPage .myclass .mycb_01-1 {
    left: 60px;
    z-index: 2;
    position: absolute;
}

.view > .MyPage .myclass .mycb_02 {
    left: 300px;
    opacity: 0.65;
    z-index: 1;
    position: absolute;
}

.view > .MyPage .myclass .mycb_02-1 {
    left: 330px;
    z-index: 2;
    position: absolute;
}

.view > .MyPage .myclass .mycb_03 {
    left: 570px;
    opacity: 0.65;
    z-index: 1;
    position: absolute;
}

.view > .MyPage .myclass .mycb_03-1 {
    left: 600px;
    z-index: 2;
    position: absolute;
}

.view > .MyPage .myclass .mycb_04 {
    left: 840px;
    opacity: 0.65;
    z-index: 1;
    position: absolute;
}

.view > .MyPage .myclass .mycb_04-1 {
    left: 870px;
    z-index: 2;
    position: absolute;
}

.view > .MyPage .myclass .allview {
    width: 240px;
    height: 240px;
    left: 1120px;
    position: absolute;
}

.view > .MyPage .myclass .allview > a >img {
    width: 80px;
    height: 80px;
    left: 80px;
    bottom: 90px;
    position: absolute;
}

.view > .MyPage .myclass .allview > a > p {
    font-size: 20px;
    color: #8B8B8B;
    left: 80px;
    bottom: 50px;
    position: absolute;
    /*---내모임 제목(끝)---*/
}

    /*
    .view> .l_news>li{float: left}
    .view> .l_news> .inBox>p{
        float: left ; line-height: 80px;
        font-size: 32px;  font-weight: 300; color: grey}
    .view> .l_news> .inBox>p:first-child{margin-right: 40px}
    .view> .inBox>h3{
        float: left ;line-height: 75px ; margin-left: 10px;
        font-size: 48px; font-weight: 500}
    */
