@charset "utf-8";
*{margin: 0;padding: 0; box-sizing: border-box; }
li{list-style: none; font-family:'GmarketSans'; font-weight: 500}
a{text-decoration: none; color: #2C244F;}
img{display: block;}
.clearfix::after, clearfix::before{content: ""; display: block;clear: both;}
p{font-family: 'GmarketSans'; }
h3{font-family: 'GmarketSans';}
body{z-index: 2}
/* 스크롤바 스타일링 */
::-webkit-scrollbar {
    z-index: 0;
    width: 0.5em; /* 스크롤바 너비 */
    height: 0.5em; /* 스크롤바 높이 */
}
/* 스크롤바의 Track 스타일링 */
::-webkit-scrollbar-track {background:rgba(255,255,255,0.65) ;}
/* 스크롤바의 Thumb 스타일링 */
::-webkit-scrollbar-thumb {
    background: rgba(0,0,255,0.1);
    border-radius: 10px;
}
/* 마우스 오버 시 스크롤바의 Thumb 스타일링 */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,255,0.4);
}


/* wrap */
#wrap{width: 1915px; margin: 0 auto;}

/*header*/
#header{width: 400px; height: 1000px; float: left;
    /*background-color: aliceblue*/
}
/*header_logo*/
#header .logo{width: 100%; height: 200px;}
#header .logo>a>img{float: left; width:90%; margin: 10px}

/*header_메뉴*/
#header .menu{ width: 100%; padding: 20px}
#header .menu>ul{}
#header .menu>ul>li{margin-bottom: 82px ;margin-left: 20px;}
#header .menu>ul>li>a{font-size: 40px; margin-left: 25px;}
#header .menu>ul>li>a>img{width: 40px;float: left;}
/*#header .menu>ul>li>a:first-child::before{ line-height: 0px}*/


/* section */
#box{width: 1515px; height: 1000px;  float: left; ;}
#box>div{float: left}
#user{width: 100%; height: 65px;}

/*section_ user*/
#box>#user >ul{float: right}
#box>#user >ul>li{float: left; line-height: 65px;}
#box>#user >ul>li>a{ font-size: 30px; line-height: 70px;}
#box>#user >ul>li>img{/*아이콘 링크 or 이미지*/}
#box>#user >ul>.icon_a{width: 45px; height: 45px; border-radius: 50%; background-color: #AAC4FF ;margin: 10px}
#box>#user >ul>.icon_b>img{width: 30px; height: 30px;  margin-top: 20px ;}

/*view*/
#view{width: 100%; height: 1035px;
    background: linear-gradient(135deg, #B1B2FF, #AAC4FF);
    border-radius: 20px 0 0 0;
}
#view::-webkit-scrollbar {
    display: none;
}

/*view_바꿔야할 부분*/
.view{width: 100%;
    height: 9300px;/* 임의지정 값*/
    border-radius: 20px 0 0 0;
}
/*첫번째 헤더 영역 부분*/
.interest_schedule{
    width: 100%;
    height: 520px;
    position: relative;
}
.interest_schedule>ul>img{
    position: absolute;
    top: 47px;
    left: 70px;
}
.interest_schedule>ul .scd{
    font-size: 40px;
    font-family: 'Jalnan';
    position: absolute;
    top: 45px;
    left: 116px;
}

.interest_schedule .interest_box{
    width: 1381px; height: 398px; background-color:rgba(255,255,255,0.65);
    margin: auto;
    border-radius: 20px;
    position: absolute;
    top: 122px;
    left: 70px;
}
.interest_box>ul .ib_img1{
    position: absolute;
    top: 46px;
    left: 46px;
}
.interest_box>ul .ib_img2{
    position: absolute;
    top: 46px;
    left: 234px;
}
.interest_box>ul .ib_img3{
    position: absolute;
    top: 46px;
    left: 417px;
}
.interest_box>ul .ib_img4{
    position: absolute;
    top: 46px;
    left: 600px;
}
.interest_box>ul .ib_img5{
    position: absolute;
    top: 46px;
    left: 783px;
}
.interest_box>ul .ib_img6{
    position: absolute;
    top: 46px;
    left: 992px;
}
.interest_box>ul .ib_img7{
    position: absolute;
    top: 46px;
    left: 1202px;
}
.interest_box>ul .ib_img8{
    position: absolute;
    top: 216px;
    left: 46px;
}
.interest_box>ul .ib_img9{
    position: absolute;
    top: 216px;
    left: 234px;
}
.interest_box>ul .ib_img10{
    position: absolute;
    top: 216px;
    left: 417px;
}
.interest_box>ul .ib_img11{
    position: absolute;
    top: 216px;
    left: 600px;
}
.interest_box>ul .ib_img12{
    position: absolute;
    top: 216px;
    left: 783px;
}
.interest_box>ul .ib_img13{
    position: absolute;
    top: 216px;
    left: 992px;
}
.interest_box>ul .ib_img14{
    position: absolute;
    top: 216px;
    left: 1202px;
}
/*두번 째 섹션*/
.my_schedule{
    width: 100%;
    height: 1300px;
    position: relative;

}
.my_schedule>ul .my_scd{
    font-size: 40px;
    font-family: 'Jalnan';
    position: absolute;
    top: 25px;
    left: 116px;
}
.my_schedule .my_scd_box{
    width: 1381px; height: 1150px; background-color:rgba(255,255,255,0.65);
    margin: auto;
    border-radius: 20px;
    position: absolute;
    top: 88px;
    left: 70px;
}
.box1{
    width: 1123px; height: 200px; background-color:#FFFFFF;
    margin: auto;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 30px;
    left: 224px;
}
.box2{
    width: 1123px; height: 200px; background-color:#FFFFFF;
    margin: auto;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 320px;
    left: 224px;
}
.box3{
    width: 1123px; height: 200px; background-color:#FFFFFF;
    margin: auto;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 610px;
    left: 224px;
}
.box4{
    width: 1123px; height: 200px; background-color:#FFFFFF;
    margin: auto;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    top: 900px;
    left: 224px;
}
.jjang1{
    position: absolute;
    top: 30px;
    left: 35px;
}
.jjang2{
    position: absolute;
    top: 320px;
    left: 35px;
}
.jjang3{
    position: absolute;
    top: 610px;
    left: 35px;
}
.jjang4{
    position: absolute;
    top: 900px;
    left: 35px;
}
/*푸터 영역*/
.footer{
    position: relative;
    height: 200px;
}
.footer_menu{
    position: absolute;
    top: 79px;
    left: 415px;
}
.footer_menu > a{
    position: relative;
    color: #FFFFFF;
    margin-right: 30px;
}
.footer_menu > a::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    top: 1px;
    left: -15px;
}
.footer_menu > a:first-child:before{
    width: 0;
}
.footer_menu > a:last-child{
    margin-right: 0;
}

/* footer CopyRight */
.f_copyright{
    position: absolute;
    top: 113px;
    height: 0;
    left: 475px;
}
.f_copyright > img{
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}
.f_copyright > p{
    display: inline;
    text-align: center;
    vertical-align: middle;
    color: #EEEEEE;
}
.f_copyright .corp{
    color: #FFFFFF;
}


