<!DOCTYPE html>
<html lang="kr">
<html>
<head>
    <meta charset="UTF-8">
    <title>대상 페이지</title>
    <!--css-->
    <link href="../static/CSS/Allview.css" type="text/css" rel="stylesheet">

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

<div id="view"style="overflow:scroll;">
    <!-- 바꿔야하는 부분 -->
    <div class="view clearfix">

<p class="title_03">내 게시물</p>
<div class="myPost clearfix">
    <ul class="post_01 clearfix">
        <a>
            <img class="postimg_01" alt="모임 이미지1" src="../static/image/DefaultClass_logo.png">
        </a>
        <p class="postname_01">질풍가도</p>
        <span>이날 저녁에 러닝 번개 후 맥주 한잔 할 살암</span>
        <p class="day_01">2023. 05. 19<p class="viewcount_01">조회 012</p></p>
        </a>
    </ul>
</div>
    </div>
</div>

</body>
</html>