<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--css-->
    <link href="/css/Create_Meet.css?after" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="/defaultUI.html"></div>
<div class="contents">
   <ul>
       <img  class="marker" src="image/meet_marker.png">
       <li>지역</li>
   </ul>
    <div class="select1">
        <ul>
            <li>
                <form action="#">
                    <Select name="city" class="select_city">
                        <option value="none">시/도 선택</option>
                        <option value="gyeonggi_do">부천시</option>
                        <option value="gyeonggi_do">광명시</option>
                        <option value="gyeonggi_do">서울시</option>
                        <option value="gyeonggi_do">부산시</option>
                    </Select>
                </form>
            </li>
        </ul>
    </div>

    <div class="select2">
        <ul>
            <li>
                <form action="#">
                    <Select name="county" class="select_county" style="border:0 solid white">
                        <option value="none">구/군 선택</option>
                        <option value="gyeonggi_do">경기도</option>
                        <option value="gyeonggi_do">경기도</option>
                        <option value="gyeonggi_do">경기도</option>
                        <option value="gyeonggi_do">경기도</option>
                    </Select>
                </form>
            </li>
        </ul>
    </div>
    <div class="meet_name1">
        <div class="meet_name2">
            <ul>
                <li>
                    <input type="text" name="G_NAME" class="g_name" placeholder="모임 이름" maxlength="16" />
                </li>
            </ul>
        </div>
        <ul>
            <img  class="meet_bt" src="image/모임 버튼.png">
        </ul>
    </div>
</div>
<div class="footer">

</div>
</body>
</html>