<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--css-->
    <link href="/css/Create_Meet.css?after" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="/defaultUI.html"></div>
<div class="contents">
    <ul>
        <img class="marker" src="image/meet_marker.png">
        <li>지역</li>
    </ul>
    <div class="select1">
        <ul>
            <li>
                <form action="#">
                    <Select name="city" class="select_city">
                        <option value="none">시/도 선택</option>
                        <option value="gyeonggi_do">부천시</option>
                        <option value="gyeonggi_do">광명시</option>
                        <option value="gyeonggi_do">서울시</option>
                        <option value="gyeonggi_do">부산시</option>
                    </Select>
                </form>
            </li>
        </ul>
    </div>

    <div class="select2">
        <ul>
            <li>
                <form action="#">
                    <Select name="county" class="select_county">
                        <option value="none">구/군 선택</option>
                        <option value="gyeonggi_do">경기도</option>
                        <option value="gyeonggi_do">경기도</option>
                        <option value="gyeonggi_do">경기도</option>
                        <option value="gyeonggi_do">경기도</option>
                    </Select>
                </form>
            </li>
        </ul>
    </div>
    <div class="meet_name1">
        <div class="meet_name2">
            <ul>
                <li>
                    <input type="text" name="G_NAME" class="g_name" placeholder="모임 이름" maxlength="16"/>
                </li>
            </ul>
        </div>
    </div>
    <div class="meet_introduce">
        <div class="meet_introduce2">
            <ul>
                <li>
                    <form action="#">
                        <textarea name="M_INTRODUCTION" class="m_introduce" placeholder="모임의 소개글을 적어주세요."></textarea>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="personnel">
        <ul>
            <img class="person" src="image/모임 만들기_사람.png">
            <li>정원(최대300명)</li>
        </ul>
    </div>
    <div class="personnel_box">
        <div class="personnel_box2">
            <ul>
                <li>
                    <form action="#">
                        <input type="number"  name="G_personnel" class="G_personnel"></input>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="create_bt">
        <ul>
            <li>
                <form action="#">
                    <button name="G_create_bt" class="G_create_bt"></button>
                </form>
            </li>
        </ul>
        <ul>
            <li class="create_bt2">모임 만들기</li>
        </ul>
    </div>
    <ul>
        <form action="#">
            <button value="기본값" type="button" id="btn"><img id="selectedInterestImage" src="image/모임 버튼.png" alt="관심사 이미지" onclick=""></button>
        </form>
    </ul>
    <div id="modalWrap" style="display: none;">
        <div id="modalContent">
            <div id="modalBody">
                <span id="closeBtn">&times;</span>
                <p>관심사 선택</p>
                <button value="여행" type="button" id="btn1"><img src="image/create_meet_image/create_여행.png" alt="관심사 이미지" onclick="">여행</button>
                <button value="운동/스포츠" type="button" id="btn2"><img src="image/create_meet_image/create_운동.png" alt="관심사 이미지" onclick="">운동/스포츠</button>
                <button value="독서" type="button" id="btn3"><img src="image/create_meet_image/create_독서.png" alt="관심사 이미지" onclick="">독서</button>
                <button value="업종/직무" type="button" id="btn4"><img src="image/create_meet_image/create_업종.png" alt="관심사 이미지" onclick="">업종/직무</button>
                <button value="문화/공연/축제" type="button" id="btn5"><img src="image/create_meet_image/create_문화.png" alt="관심사 이미지" onclick="">문화/공연/축제</button>
                <button value="음악/악기" type="button" id="btn6"><img src="image/create_meet_image/create_음악.png" alt="관심사 이미지" onclick="">음악/악기</button>
                <button value="공예/만들기" type="button" id="btn7"><img src="image/create_meet_image/create_공예.png" alt="관심사 이미지" onclick="">공예/만들기</button>
                <button value="댄스/무용" type="button" id="btn8"><img src="image/create_meet_image/create_댄스.png" alt="관심사 이미지" onclick="">댄스/무용</button>
                <button value="사교/인맥" type="button" id="btn9"><img src="image/create_meet_image/create_사교.png" alt="관심사 이미지" onclick="">사교/인맥</button>
                <button value="차/오토바이" type="button" id="btn10"><img src="image/create_meet_image/create_차.png" alt="관심사 이미지" onclick="">차/오토바이</button>
                <button value="사진/영상" type="button" id="btn11"><img src="image/create_meet_image/create_사진.png" alt="관심사 이미지" onclick="">사진/영상</button>
                <button value="게임/오락" type="button" id="btn12"><img src="image/create_meet_image/create_게임.png" alt="관심사 이미지" onclick="">게임/오락</button>
                <button value="요리/제조" type="button" id="btn13"><img src="image/create_meet_image/create_요리.png" alt="관심사 이미지" onclick="">요리/제조</button>
                <button value="반려/동물" type="button" id="btn14"><img src="image/create_meet_image/create_반려.png" alt="관심사 이미지" onclick="">반려/동물</button>
                <button value="가족/결혼" type="button" id="btn15"><img src="image/create_meet_image/create_가족.png" alt="관심사 이미지" onclick="">가족/결혼</button>
                <button value="자유주제" type="button" id="btn16"><img src="image/create_meet_image/create_자유주제.png" alt="관심사 이미지" onclick="">자유주제</button>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer_menu">
        <a href="#">이용약관</a>
        <a href="#">개인정보처리방침</a>
        <a href="#">책임의 한계와 법적고지</a>
        <a href="#">회원정보 고객센터</a>
    </div> <!--footer메뉴 -->
    <div class="f_copyright">
        <img src="image/login_footer.png">
        <p>Copyright ⓒ </p>
        <p class="corp">mingle Corp. </p>
        <p>All Rights Reserved.</p>
    </div> <!--copyright -->
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const btn = document.getElementById('btn');
        const modal = document.getElementById('modalWrap');
        const closeBtn = document.getElementById('closeBtn');

        const selectedInterestImage = document.querySelector('#selectedInterestImage');
        const selectedInterestButton = document.querySelector('#btn');

        // 버튼의 초기값을 저장합니다.
        const initialButtonValue = selectedInterestButton.value;

        btn.onclick = function () {
            modal.style.display = 'block';
        }

        closeBtn.onclick = function () {
            modal.style.display = 'none';
        }

        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }

        const interestButtons = document.querySelectorAll('#modalBody > button[id^="btn"]');

        const interestImages = {
            '여행': 'image/create_meet_image/create_여행.png',
            '운동/스포츠': 'image/create_meet_image/create_운동.png',
            '독서': 'image/create_meet_image/create_독서.png',
            '업종/직무': 'image/create_meet_image/create_업종.png',
            '문화/공연/축제': 'image/create_meet_image/create_문화.png',
            '음악/악기': 'image/create_meet_image/create_음악.png',
            '공예/만들기': 'image/create_meet_image/create_공예.png',
            '댄스/무용': 'image/create_meet_image/create_댄스.png',
            '사교/인맥': 'image/create_meet_image/create_사교.png',
            '차/오토바이': 'image/create_meet_image/create_차.png',
            '사진/영상': 'image/create_meet_image/create_사진.png',
            '게임/오락': 'image/create_meet_image/create_게임.png',
            '요리/제조': 'image/create_meet_image/create_요리.png',
            '반려/동물': 'image/create_meet_image/create_반려.png',
            '가족/결혼': 'image/create_meet_image/create_가족.png',
            '자유주제': 'image/create_meet_image/create_자유주제.png',
        };

        interestButtons.forEach(button => {
            button.addEventListener('click', function() {
                const interest = this.value;
                const imageFileName = interestImages[interest];
                selectedInterestImage.src = imageFileName;
                selectedInterestButton.value = interest; // 버튼의 값을 클릭한 관심사로 업데이트합니다.
                modal.style.display = 'none';
            });
        });
    });
</script>
</body>
</html>