<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--css-->
    <link href="/CSS/defaultUI.css?after" type="text/css" rel="stylesheet">

</head>
<body>
<div id="wrap" class="clearfix">
    <header id="header" class="clearfix">
        <h1 class="logo">
            <a th:if="${session.loginId == null}" href="/Main_UnLogIn">
                <img alt="로고_L" src="/image/로고_L.png">
            </a>
            <a th:unless="${session.loginId == null}" href="/Main_LogIn">
                <img alt="로고_L" src="/image/로고_L.png">
            </a>

        </h1>
        <nav class="menu">
            <ul>
                <li th:unless="${session.loginId == null}"><a href="/myClass"><img src="/image/Menu_내모임.png">내 모임</a></li>
                <li th:if="${session.loginId == null}"><a href="/Main_UnLogIn" onclick="please()"><img src="/image/Menu_내모임.png">내 모임</a></li>
                <li th:unless="${session.loginId == null}"><a href="/schedule"><img src="/image/Menu_스케줄.png">스케줄</a></li>
                <li th:if="${session.loginId == null}"><a href="/Main_UnLogIn" onclick="please()"><img src="/image/Menu_스케줄.png">스케줄</a></li>
                <li ><a href="/search1"><img src="/image/Menu_모임검색.png">모임 검색</a></li>
                <li><a href="#"><img src="/image/Menu_HOT모임.png">HOT 모임</a></li>
                <li th:unless="${session.loginId == null}"><a href="/Create_Meet"><img src="/image/Menu_모임만들기.png">모임 만들기</a></li>
                <li th:if="${session.loginId == null}"><a href="/Main_UnLogIn" onclick="please()"><img src="/image/Menu_모임만들기.png">모임 만들기</a></li>
            </ul>
        </nav>
    </header>

    <!--헤더 + 뷰-->
    <section id="box" class="clearfix">

        <!--헤더-->
        <div id="user">
            <ul class="user_wrap">
                <li><a href="login" th:if="${session.loginId == null}">로그인 하세요</a></li>
                <li><a th:unless="${session.loginId == null}" th:text="${session.loginId}"></a></li>
                <!-- Controller @PostMapping("login")에서 받아옴 -->
                <li th:if="${session.loginId == null}" class="icon_a">
                    <!--<img alt="user_img" src="#">-->
                </li>
                <li th:unless="${session.loginId == null}" class="icon_a"><a href="/MyPage">
                    <img alt="user_img" th:src="'data:image/png;base64,' + ${#strings.toString(session.profileimg)}"></a></li>
                    <!--<img alt="user_img" th:src="${session.profileimg2}"></a></li>-->
                <li th:unless="${session.loginId == null}" class="icon_b">
                    <button type="button" id="logout"><img alt="_mymenu" src="/image/Main_마이메뉴.png"></button>
                </li>
                <li th:unless="${session.loginId == null}" id="logout_bt">
                    <button type="button" value="로그아웃" onclick="logout()">로그아웃</button>
                </li>
            </ul>
        </div>
        <div id="view" style="overflow:scroll;">
            <!-- 바꿔야하는 부분 -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
                $(document).ready(function () {
                    // #logout 버튼 클릭 이벤트 처리
                    $("#logout").click(function () {
                        // #logout_bt 요소의 현재 표시 상태 확인
                        var logoutBt = $("#logout_bt");
                        if (logoutBt.is(":visible")) {
                            // 현재 보이는 상태라면 숨김
                            logoutBt.fadeOut();
                        } else {
                            // 현재 숨겨진 상태라면 보이도록 변경
                            logoutBt.fadeIn();
                        }
                    });
                });

                function logout() {
                    window.location.href = "/logout";
                }

                function please() {
                    alert("로그인 또는 회원가입 후 이용해주세요.");
                }
            </script>

</body>
</html>
