<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/defaultUI.css" type="text/css" rel="stylesheet">

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
    <!--<html xmlns:th="http://www.thymeleaf.org">
    <div th:replace="/include/contents.html"></div>-->
<body>
    <div id="wrap" class="clearfix">
        <header id="header" class="clearfix">
            <h1 class="logo">
                <a href="index.html">
                    <img alt="로고_L" src="image/로고_L.png">
                </a>
            </h1>
            <nav class="menu">
                <ul>
                    <li><a href="#"><img src="image/Menu_내모임.png">내 모임</a></li>
                    <li><a href="#"><img src="image/Menu_스케줄.png">스케줄</a></li>
                    <li><a href="#"><img src="image/Menu_모임검색.png">모임 검색</a></li>
                    <li><a href="#"><img src="image/Menu_HOT모임.png">HOT 모임</a></li>
                    <li><a href="#"><img src="image/Menu_모임만들기.png">모임 만들기</a></li>
                </ul>
            </nav>
        </header>

        <!--헤더 + 뷰-->
        <section id="box" class="clearfix">

            <!--헤더-->
            <div id="user">
                <ul class="user_wrap" >
                    <li><a>로그인 하세요</a></li>
                    <li class="icon_a"> <!--<img alt="user_img" src="#">--></li>
                    <li class="icon_b"><img alt="_mymenu" src="image/Main_마이메뉴.png"></li>
                </ul>
            </div>

            <!--뷰-->
            <div id="view"style="overflow:scroll;">
                <!-- 바꿔야하는 부분 -->


</body>
</html>
