<head>
    <link href="/CSS/footer.css?after" type="text/css" rel="stylesheet">
    <link rel="icon" href="/image/DefaultProfile_logo.png">
</head>
</div>
<footer id="footer">
    <div class="footer_menu">
        <a href="#">이용약관</a>
        <a href="#">개인정보처리방침</a>
        <a href="#">책임의 한계와 법적고지</a>
        <a href="#">회원정보 고객센터</a>
    </div> <!--footer메뉴 -->
    <div class="f_copyright">
        <img src="/image/login_footer.png">
        <p>Copyright ⓒ </p>
        <p class="corp">mingle Corp. </p>
        <p>All Rights Reserved.</p>
    </div> <!--copyright -->
</footer>
</section>
</div>