<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임이름-게시판</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/Gathering_Schedule.css" type="text/css" rel="stylesheet">
    <!--<link href="/CSS/header.css" type="text/css" rel="stylesheet">-->
    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <style>
        .view > .g_title > ul > li > a:first-child {
            margin-left: 70px;
        }

        .view > .g_title > ul > li > a:nth-child(4) {
            color: #542DFF;
            border-bottom: 3px solid #542DFF;
        }
    </style>
</head>
<body>
<div th:replace="/defaultUI.html"></div>
<div th:replace="~{Gathering :: gatheringParam ( ${GatheringHome.getGCoverimg()}, ${GatheringHome.getGDistrict()}, ${GatheringHome.getGMainsubject()}, ${GatheringHome.getGName()}, ${id})}"></div>
<div id="schedule">
    <div class="schedule_bg">
        <div class="shcedule_create">
            <form action="">
                <ul>
                    <li><input type="text" placeholder="일정 제목을 입력하세요"></li>
                    <li><img src="/image/scheduleCalendar.png"><input type="text" placeholder="일정 제목을 입력하세요"></li>
                    <li><img src="/image/scheduleMarker.png"><input type="text" placeholder="위치"></li>
                    <li><img src="/image/scheduleWatch.png"><input type="text" placeholder="날짜"></li>
                    <li><img src="/image/scheduleWon.png"><input type="text" placeholder="금액"></li>
                    <li><img src="/image/scheduleUser.png"><input type="text" placeholder="정원 2 ~ 50명"></li>
                </ul>
                <input type="submit" value="일정추가">
            </form>
        </div>
        <ul class="schedule" th:each="schedule, scheduleStat : ${Schedule}">
            <li><span class="schedule_title" th:text="${schedule.getSTitle()}">제목</span></li>
            <li><span class="schedule_subject">일시</span><span class="schedule_detail" th:text="${schedule.getSDate()}">일시</span>
            </li>
            <li><span class="schedule_subject">위치</span><span class="schedule_detail" th:text="${schedule.getSPlace()}">장소</span></li>
            <li><span class="schedule_subject">금액</span><span class="schedule_detail" th:text="${schedule.getSPrice()}">금액</span>
            </li>
            <li>
                <span class="schedule_subject">참여</span><span class="schedule_detail" th:text="${memberCount.get(scheduleStat.index)}">참여인원</span><span class="schedule_detail">/</span><span class="schedule_detail" th:text="${schedule.getSMaxHeadcount()}"></span><span
                    class="schedule_subject" th:text="'('+${remaining.get(scheduleStat.index)}+ '자리 남음)'">잔여 인원</span>
            </li>
            <a th:href="@{|/Gathering_Schedule_Cancel/${GatheringHome.id}/${schedule.getSNum()}|}" th:if="${Attend[scheduleStat.index]}"class="attend-button" onclick="return confirm('일정을 취소하시겠습니까?')">취소하기</a>
            <a th:href="@{|/Gathering_Schedule_Attend/${GatheringHome.id}/${schedule.getSNum()}|}" th:unless="${Attend[scheduleStat.index]}" class="attend-button" onclick="return confirm('일정에 참석하시겠습니까?')">참석하기</a>
        </ul>
    </div>
</div>
<div th:replace="/footer.html"></div>
</body>
</html>