<div th:replace="~{Gathering_Album_BoardSample :: gatheringParam (${id})}"></div>
<p class="board_name">가입인사</p>
<p class="board_countimg">사진 2장</p>
<ul class="board_img">
    <li>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
        <a href="/image/postimg2.png" data-title="test" data-lightbox="example-set"><img src="/image/postimg1.png"></a>
    </li>
</ul>

</div>
</div>
<div th:replace="/footer.html"></div>
</body>
</html>