<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임이름-게시글</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/Gathering_Post.css" type="text/css" rel="stylesheet">
    <!--<link href="/CSS/header.css" type="text/css" rel="stylesheet">-->
    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <style>
        .view > .g_title > ul > li > a:first-child {
            margin-left: 70px;
        }

        .view > .g_title > ul > li > a:nth-child(2) {
            color: #542DFF;
            border-bottom: 3px solid #542DFF;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

    <script>
        function toggleCommentSubMenu(id) {
            const submenu = document.getElementById(id);
            if (submenu.style.display === 'none' || submenu.style.display === '') {
                submenu.style.display = 'block';
            } else {
                submenu.style.display = 'none';
            }
        }
        function toggleSubMenu() {
            const submenu = document.getElementById('submenu');
            if (submenu.style.display === 'none' || submenu.style.display === '') {
                submenu.style.display = 'block';
            } else {
                submenu.style.display = 'none';
            }
        }
    </script>
</head>
<body>
<div th:replace="/defaultUI.html"></div>

<div th:replace="~{Gathering :: gatheringParam ( ${GatheringHome.getGCoverimg()}, ${GatheringHome.getGDistrict()}, ${GatheringHome.getGMainsubject()}, ${GatheringHome.getGName()}, ${id})}"></div>
<div id="Post">
    <a th:href="@{|/Gathering_Board/${GatheringHome.id}|}"><img src="/image/back.png"></a>
    <div class="Post_bg">
        <ul class="contents clearfix">
            <img class="post_writerimg" th:if="${writer.getMProfileimg() == null}" src="/image/DefaultProfile_logo.png">
            <img class="post_writerimg" th:unless="${writer.getMProfileimg() == null}" th:src="'data:image/png;base64,' + ${#strings.toString(base64Iamg)}">
            <li>
                <div class="updatePost">
                    <img class="menu" src="/image/menudot.png" onclick="toggleSubMenu();">
                    <div id="submenu" th:if="${session.loginId == post.getPMId()}">
                        <a  class="modify"th:href="'/Gathering_Post_Modify/' + ${GatheringHome.id} + '/' + ${post.getPNum()}" onclick="return confirm('글을 수정 하시겠습니까?');">글 수정하기</a>
                        <a class="delete" th:href="'/Gathering_Post_Delete/' + ${GatheringHome.id} + '/' + ${post.getPNum()}" onclick="return confirm('글을 삭제 하시겠습니까?');">글 삭제하기</a>
                    </div>
                </div>
                <p class="post_boardName" th:text="${boardName}">게시판 이름</p>
            </li>
            <li><p class="post_writerName" th:text="${writer.getMName()}">작성자</p></li>
            <li><p class="post_date" th:text="${post.getPDate()}">0월 00일 오후 00:00</p></li>
            <li class="title_line"><p class="post_title" th:text="${post.getPTitle()}">제목</p></li>
            <li>
                <p class="post_contents" th:text="${post.getPContents()}">내용</p>
            </li>
        </ul>
        <ul class="like">
            <li>
                <a href="#"><img src="/image/comment.png"><span>댓글 갯수</span></a>
            </li>
        </ul>
        <ul class="input_comment">
        <form class="search" th:action="@{|/Gathering_Post/${id}/${post.getPNum()}|}" method="post">
            <input type="text" placeholder="댓글을 달아주세요." name="cComments">
            <button type="submit">전송</button>
        </form>
        </ul>
        <ul class="comments">
            <ul class="comment clearfix" th:each="comments, commentsStat: ${Comments}">
                <img class="comment_profileimg" th:if="${CommentsWriter.get(commentsStat.index).getMProfileimg() == null}" src="/image/DefaultProfile_logo.png">
                <img class="comment_profileimg" th:unless="${CommentsWriter.get(commentsStat.index).getMProfileimg() == null}" th:src="'data:image/png;base64,' + ${#strings.toString(cwimg.get(commentsStat.index))}">
                <li><span class="comment_writer" th:text="${CommentsWriter.get(commentsStat.index).getMName()}">정웅기</span><span class="comment_date" th:text="${comments.getCDate()}">7월 23일 오후 11:01</span></li>
                <img class="comment_profileimg" th:unless="${CommentsWriter.get(commentsStat.index).getMProfileimg() == null}" th:src="${CommentsWriter.get(commentsStat.index).getMProfileimg()}">
                <li>
                    <span class="comment_writer" th:text="${CommentsWriter.get(commentsStat.index).getMName()}" th:id="'comment_delete_' + ${comments.getCNum()}">정웅기</span>
                    <div th:id="'comment_delete_' + ${comments.getCNum()}" class="comment_delete">
                        <a th:href="'/Gathering_Post_Comment_Delete/' + ${GatheringHome.id} + '/' + ${post.getPNum()} + '/' + ${comments.getCNum()}" onclick="return confirm('댓글을 삭제 하시겠습니까?');">댓글 삭제하기</a>
                    </div>
                    <span class="comment_date" th:text="${comments.getCDate()}">7월 23일 오후 11:01</span>
                </li>
                <li><span class="comment_contents" th:text="${comments.getCComments()}">내용</span></li>
            </ul>
        </ul>
    </div>
</div>
<div th:replace="/footer.html"></div>
</body>
</html>