<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/Gathering.css?after" type="text/css" rel="stylesheet">
    <link href="/CSS/Gathering_Board.css?after" type="text/css" rel="stylesheet">
        <!--<link href="/CSS/header.css" type="text/css" rel="stylesheet">-->
    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        .view > .g_title > ul > li > a:first-child {
            margin-left: 70px;
        }
        .view > .g_title > ul > li > a:nth-child(2) {
            color: #542DFF;
            border-bottom: 3px solid #542DFF;
        }
    </style>
</head>
<body>
<div id="wrap" class="clearfix">

    <div th:replace="/header.html"></div>

    <!--뷰-->
    <div id="view" class="clearfix" style="overflow:scroll;">
        <!-- 바꿔야하는 부분 -->
        <div class="view clearfix">
            <!-- 타이틀 -->
            <div class="g_title">
                <ul>
                    <li><img class="title_img" src="image/testimg.png" alt="테스트"></li>
                    <ul class="title_subject">
                        <li>
                            <a class="title_detail" href="">금천구</a>
                            <a class="title_detail" href="">운동/스포츠</a>
                            <a class="title_detail" href="">멤버 18</a>
                        </li>
                        <li><h3 class="title_title">작당모의 볼링 클럽 🎳 신입 환영 🎳 <a href="#">가입하기</a></h3></li>
                    </ul>
                    <li>
                        <a class="title_nav" href="">홈</a>
                        <a class="title_nav" href="">게시판</a>
                        <a class="title_nav" href="">사진첩</a>
                        <a class="title_nav" href="">일정</a>
                    </li>
                </ul>
            </div>
            <div id="board">
                <div class="board_bg">
                    <ul>
                        <li class="clearfix">
                            <h4>게시판</h4>
                            <form action="#">
                                <Select name="city" class="select_board">
                                    <option value="none">전체보기</option>
                                    <option value="free">자유글</option>
                                    <option value="interest">관심사 공유</option>
                                    <option value="review">정모후기</option>
                                    <option value="greetings">가입인사</option>
                                    <option value="notification">공지사항</option>
                                </Select>
                            </form>
                        </li>
                    </ul>
                    <ul class="board_notification">
                        <li><a href="#"><span class="post_board">[공지]</span><span class="post_title">하이미디어 볼링센터 이용 가이드🎳</span></a></li>
                        <li><a href="#"><span class="post_board">[공지]</span><span class="post_title">작당모의 볼링클럽모임 방칙 ⭐</span></a></li>
                        <li><a href="#"><span class="post_board">[공지]</span><span class="post_title">가입인사 참고사항</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:replace="/footer.html"></div>
    </div>
</div>
</body>
</html>