<div th:replace="/Gathering_Album_BoardSample.html"></div>
        <ul class="allimg">
            <li>
                <a class="board_box" href="http://localhost:8080/Gathering_Album_BoardReview" >
                    <img src="image/postimg1.png">
                    <span class="board_title">정모 후기</span>
                    <span class="board_imgcount">사진 3장</span>
                </a>
                <a class="board_box" href="http://localhost:8080/Gathering_Album_BoardFree" >
                    <img src="image/postimg2.png">
                    <span class="board_title">자유게시판</span>
                    <span class="board_imgcount">사진 4장</span>
                </a>
                <a class="board_box" href="http://localhost:8080/Gathering_Album_BoardShareInterest" >
                    <img src="image/postimg3.png">
                    <span class="board_title">관심사 공유</span>
                    <span class="board_imgcount">사진 2장</span>
                </a>
                <a class="board_box" href="http://localhost:8080/Gathering_Album_BoardJoin" >
                    <img src="image/postimg1.png">
                    <span class="board_title">가입인사</span>
                    <span class="board_imgcount">사진 2장</span>
                </a>
                <a class="board_box" href="http://localhost:8080/Gathering_Album_BoardNotification" >
                    <img src="image/postimg2.png">
                    <span class="board_title">공지사항</span>
                    <span class="board_imgcount">사진 1장</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div th:replace="/footer.html"></div>
</body>
</html>