<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임이름-홈</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/Gathering_Home.css?after" type="text/css" rel="stylesheet">
    <!--<link href="/CSS/header.css" type="text/css" rel="stylesheet">-->
    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <style>
        .view > .g_title > ul > li > a:first-child {
            color: #542DFF;
            border-bottom: 3px solid #542DFF;
            margin-left: 70px;
        }
    </style>
</head>
<body>
<div th:replace="/defaultUI.html"></div>

<div th:replace="~{Gathering :: gatheringParam ( ${GatheringHome.getGCoverimg()}, ${GatheringHome.getGDistrict()}, ${GatheringHome.getGMainsubject()}, ${GatheringHome.getGName()}, ${id})}"></div>

<!-- 소개 -->
<div id="g_contents">
    <div id="g_introduction">
        <h4>소개</h4>
        <p id="g_introduction_content" th:text="${GatheringHome.getGIntroduction()}">

        </p>
        <input type="checkbox" id="g_introduction_more">
        <script>
            var contentLength = document.querySelector("#g_introduction_content").innerHTML.length
            var moreButton = document.getElementById("g_introduction_more");
            var background = document.getElementById("g_introduction");

            if (contentLength < 100) {
                moreButton.style.display = "none";
                background.style.paddingBottom = "30px";
            }

        </script>
    </div>
    <div id="g_news">
        <ul class="g_news_bg">
            <li><h4>최근</h4></li>
            <ul>
                <p>일정</p>
                <ul class="g_news_schedule">
                    <li><span>8/12 (토)</span><span class="schedule_date1">D-16</span></li>
                    <li><span class="schedule_title">8월 1차 정기전🎳</span></li>
                    <li><span class="schedule_subject">일시</span><span class="schedule_detail">8월12일 (토) 오후 7:30</span>
                    </li>
                    <li><span class="schedule_subject">위치</span><span class="schedule_detail">하이미디어 볼링센터</span></li>
                    <li><span class="schedule_subject">금액</span><span class="schedule_detail">N빵!! (4게임 17,200원)</span>
                    </li>
                    <li>
                        <span class="schedule_subject">참여</span><span class="schedule_detail">4/20</span><span
                            class="schedule_subject">(16자리 남음)</span>
                        <a href="#">참석하기</a>
                    </li>
                    <li>
                        <img src="/image/Gathering_img1.png">
                        <img src="/image/Gathering_img2.png">
                        <img src="/image/Gathering_img3.png">
                        <img src="/image/Gathering_img4.png">
                    </li>
                </ul>
                <ul class="g_news_schedule">
                    <li><span>8/12 (토)</span><span class="schedule_date2">D+5</span></li>
                    <li><span class="schedule_title">7월 2차 정기전🎳</span></li>
                    <li><span class="schedule_subject">일시</span><span class="schedule_detail">7월22일 (토) 오후 7:30</span>
                    </li>
                    <li><span class="schedule_subject">위치</span><span class="schedule_detail">하이미디어 볼링센터</span></li>
                    <li><span class="schedule_subject">금액</span><span class="schedule_detail">N빵!! (4게임 17,200원)</span>
                    </li>
                    <li><span class="schedule_subject">참여</span><span class="schedule_detail">4/20</span></li>
                    <li>
                        <img src="/image/Gathering_img1.png">
                        <img src="/image/Gathering_img2.png">
                        <img src="/image/Gathering_img3.png">
                        <img src="/image/Gathering_img4.png">
                    </li>
                </ul>
                <p>게시글</p>
                <a href="#">
                    <ul class="g_news_post_box">
                        <ul class="g_news_post clearfix">
                            <img class="post_writerImg" src="/image/Gathering_img1.png">
                            <img class="post_img" src="/image/newsPost_img1.png">
                            <li><p class="post_boardName">정모후기</p></li>
                            <li><p class="post_writerName">신우철</p></li>
                            <li><p class="post_date">7월 23일 오후 10:19</p></li>
                            <li><p class="post_title">웅기형님 께서 249점 하이 갱신!!</p></li>
                            <li>
                                <p class="post_contents">웅기형님이
                                    하이미디어 볼링장에서 저랑 같이 치다가
                                    3번째 게임 2바리 하면서 249점을 치셨네요 ㅋㅋㅋㅋ
                                    아니 이게... 무슨.. 일 인가요 하하하 저좀살려주세요
                                    행님들 자신들이 ㄴ안안ㅇ마러ㅣㄴㅇ리ㅏㅓㄴ이ㅏ런이ㅏㄹ
                                    당신은 누구입니까 당신의 이름은 무엇입니까.</p>
                            </li>
                        </ul>
                        <li><span>좋아요 3개</span><span>댓글 2개</span></li>
                    </ul>
                </a>
                <a href="#">
                    <ul class="g_news_post_box">
                        <ul class="g_news_post clearfix">
                            <img class="post_writerImg" src="/image/Gathering_img2.png">
                            <img class="post_img" src="/image/newsPost_img2.png">
                            <li><p class="post_boardName">정모후기</p></li>
                            <li><p class="post_writerName">정웅기</p></li>
                            <li><p class="post_date">7월 22일 오후 12:21</p></li>
                            <li><p class="post_title">아아아아 퇴근하고싶다... 코딩 시바
                                좋같네시이발ㄴ망ㅁㄴㅁㄴㅁㄴㅁㄴㅁㄴㅁㄴㅁㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴ
                                ㅁㄴㅇㅁㄴㅇㅁㄴㅇㅁㄴㅇ</p></li>
                            <li>
                                <p class="post_contents">아직 점심인데 왜 이렇게 퇴근하고싶냐 나 좀 살려주세요
                                    혹시 내일 밤에 볼링 칠 사람 있나요</p>
                            </li>
                        </ul>
                        <li><span>좋아요 3개</span><span>댓글 2개</span></li>
                    </ul>
                </a>
            </ul>
        </ul>
    </div>
    <div id="g_member">
        <h4 th:text="'모임 멤버 (' + ${headcount} + '명)'"></h4>
        <ul th:each="member: ${GatheringMember}">
            <li class="clearfix">
                <img class="profileimg" th:src="${member.getMProfileimg()}">
                <img class="leadercrown" src="/image/leadercrown.png" th:if="${member.getMId() == GatheringHome.getGMainleader()}">
                <img class="leadercrown" src="/image/subleaderstar.png" th:if="${member.getMId() == GatheringHome.getGSubleader1() || member.getMId() == GatheringHome.getGSubleader2() || member.getMId() == GatheringHome.getGSubleader3()}">
                <ul>
                    <li><h4><a href="#" th:text="${member.getMName()}"></a></h4></li>
                    <li><p th:text="${member.getMIntroduction()}"></p></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div th:replace="/footer.html"></div>
</div>
</body>
</html>
