<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임이름-홈</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/Gathering_Home.css?after" type="text/css" rel="stylesheet">
    <!--<link href="/CSS/header.css" type="text/css" rel="stylesheet">-->
    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <style>
        .view > .g_title > ul > li > a:first-child {
            color: #542DFF;
            border-bottom: 3px solid #542DFF;
            margin-left: 70px;
        }
    </style>
</head>
<body>
<div th:replace="/defaultUI.html"></div>

<div th:replace="~{Gathering :: gatheringParam ( ${GatheringHome.getGCoverimg()}, ${GatheringHome.getGDistrict()}, ${GatheringHome.getGMainsubject()}, ${GatheringHome.getGName()}, ${id})}"></div>

<!-- 소개 --><!--정웅기 정신좀 차리자? 할수있잔하-->
<div id="g_contents">
    <div id="g_introduction">
        <h4>소개</h4>
        <p id="g_introduction_content" th:text="${GatheringHome.getGIntroduction()}">

        </p>
        <input type="checkbox" id="g_introduction_more">
        <script>
            var contentLength = document.querySelector("#g_introduction_content").innerHTML.length
            var moreButton = document.getElementById("g_introduction_more");
            var background = document.getElementById("g_introduction");

            if (contentLength < 100) {
                moreButton.style.display = "none";
                background.style.paddingBottom = "30px";
            }

        </script>
    </div>
    <div id="g_news">
        <ul class="g_news_bg">
            <li><h4>최근</h4></li>
            <ul>
                <p>일정</p>
                <ul class="g_news_schedule" th:each="schedule, scheduleStat : ${Schedule}">
                    <li><span class="schedule_title" th:text="${schedule.getSTitle()}">제목</span></li>
                    <li><span class="schedule_subject">일시</span><span class="schedule_detail" th:text="${schedule.getSDate()}">일시</span>
                    </li>
                    <li><span class="schedule_subject">위치</span><span class="schedule_detail" th:text="${schedule.getSPlace()}">장소</span></li>
                    <li><span class="schedule_subject">금액</span><span class="schedule_detail" th:text="${schedule.getSPrice()}">금액</span>
                    </li>
                    <li>
                        <span class="schedule_subject">참여</span><span class="schedule_detail" th:text="${memberCount.get(scheduleStat.index)}">참여인원</span><span class="schedule_detail">/</span><span class="schedule_detail" th:text="${schedule.getSMaxHeadcount()}"></span><span
                            class="schedule_subject" th:text="'('+${remaining.get(scheduleStat.index)}+ '자리 남음)'">잔여 인원</span>
                        <a href="#">참석하기</a>
                    </li>
                    <li>
                        <img src="/image/Gathering_img1.png">
                        <img src="/image/Gathering_img2.png">
                        <img src="/image/Gathering_img3.png">
                        <img src="/image/Gathering_img4.png">
                    </li>
                </ul>
<!--                <ul class="g_news_schedule">-->
<!--                    <li><span>8/12 (토)</span><span class="schedule_date2">D+5</span></li>-->
<!--                    <li><span class="schedule_title">7월 2차 정기전🎳</span></li>-->
<!--                    <li><span class="schedule_subject">일시</span><span class="schedule_detail">7월22일 (토) 오후 7:30</span>-->
<!--                    </li>-->
<!--                    <li><span class="schedule_subject">위치</span><span class="schedule_detail">하이미디어 볼링센터</span></li>-->
<!--                    <li><span class="schedule_subject">금액</span><span class="schedule_detail">N빵!! (4게임 17,200원)</span>-->
<!--                    </li>-->
<!--                    <li><span class="schedule_subject">참여</span><span class="schedule_detail">4/20</span></li>-->
<!--                    <li>-->
<!--                        <img src="/image/Gathering_img1.png">-->
<!--                        <img src="/image/Gathering_img2.png">-->
<!--                        <img src="/image/Gathering_img3.png">-->
<!--                        <img src="/image/Gathering_img4.png">-->
<!--                    </li>-->
<!--                </ul>-->
                <p>게시글</p>
                <span th:if="${Post.size() == 0}" class="postNone">게시글이 없습니다.</span>
                <a th:unless="${Post.size() == 0}" th:href="@{|/Gathering_Post/${id}/${posts.getPNum()}|}" th:each="posts, postsStat :${Post}">
                    <ul class="g_news_post_box">
                        <ul class="g_news_post clearfix">
                            <img class="post_writerImg" th:src="${PostWriter.get(postsStat.index).getMProfileimg()}" src="/image/Gathering_img1.png">
                            <img class="post_img" src="/image/newsPost_img1.png">
                            <li><p class="post_boardName" th:text="${PostBoard}">게시판 이름</p></li>
                            <li><p class="post_writerName" th:text="${PostWriter.get(postsStat.index).getMName()}">작성자</p></li>
                            <li><p class="post_date" th:text="${posts.getPDate()}">0월 00일 오후 0:00</p></li>
                            <li><p class="post_title" th:text="${posts.getPTitle()}">제목</p></li>
                            <li>
                                <p class="post_contents" th:text="${posts.getPContents()}">글 내용</p>
                            </li>
                        </ul>
                        <li><span th:text="'좋아요 '+${posts.getPLike()}+ '개'">좋아요 갯수</span><span>댓글 2개</span></li>
                    </ul>
                </a>
            </ul>
        </ul>
    </div>
    <div id="g_member">
        <h4 th:text="'모임 멤버 (' + ${headcount} + '명)'"></h4>
        <ul th:each="member: ${GatheringMember}">
            <li class="clearfix">
                <img class="profileimg" th:src="${member.getMProfileimg()}">
                <img class="leadercrown" src="/image/leadercrown.png" th:if="${member.getMId() == GatheringHome.getGMainleader()}">
                <img class="leadercrown" src="/image/subleaderstar.png" th:if="${member.getMId() == GatheringHome.getGSubleader1() || member.getMId() == GatheringHome.getGSubleader2() || member.getMId() == GatheringHome.getGSubleader3()}">
                <ul>
                    <li><h4><a href="#" th:text="${member.getMName()}"></a></h4></li>
                    <li><p th:text="${member.getMIntroduction()}"></p></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div th:replace="/footer.html"></div>
</div>
</body>
</html>
