<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <!-- 폰트링크 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
  <!-- css링크 -->
  <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
<div id="wrap">
  <section id="contents">
    <div class="background">
      <h1 class="logo">
        <a href="/Main_UnLogIn"><img src="image/login_logo.png" alt="메인페이지가기"></a>   <!-- 메인창 url넣기 -->
      </h1>
      <p>Member Login</p>
      <form action="/url" method="post">    <!-- 메인창 url넣기 -->
        <div class="drop_member_id">
          <input type="text" name="member_id" class="member_id" placeholder="아이디" maxlength="16" />
          <img src="image/login_id.png">
        </div> <!--id -->
        <div class="drop_member_pw">
          <input type="password" name="member_pw" class="member_pw" placeholder="비밀번호" maxlength="16" />
          <img src="image/login_pw.png">
        </div> <!-- pw -->
        <div class="check_wrap">
          <input type="checkbox" id="keep_btn" />
          <label for="keep_btn"><span>로그인 상태 유지</span></label>
        </div> <!-- checkbox -->
        <input type="submit" id="login" value="로그인"/>
      </form>
      <div class="login_menu">
        <a href="/find_id">아이디 찾기</a>
        <a href="/find_pw">비밀번호 찾기</a>
        <a href="/join">회원가입</a>
      </div> <!-- 로그인메뉴 링크달기 -->
    </div> <!-- 구성창 끝 -->
    <div class="footer_menu">
      <a href="#">이용약관</a>
      <a href="#">개인정보처리방침</a>
      <a href="#">책임의 한계와 법적고지</a>
      <a href="#">회원정보 고객센터</a>
    </div> <!--footer메뉴 -->
    <div class="f_copyright" >
      <img src="image/login_footer.png">
      <p>Copyright ⓒ </p>
      <p class="corp">mingle Corp. </p>
      <p>All Rights Reserved.</p>
    </div> <!--copyright -->
  </section>

</div><!-- wrap -->
</body>
</html>