<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="/CSS/Main_LogIn.css" type="text/css" rel="stylesheet">

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
        <div th:replace="/defaultUI.html"></div>

                <!-- 바꿔야하는 부분 -->
                <div class="view">
                    <!--최근 소식-->
                    <div id="l_news">
                        <ul class="header">
                            <li><p>내 모임 최근 소식</p></li>
                            <li><a href="/Mypage">마이 페이지<img rel="오른쪽화살표.png" src="image/오른쪽화살표.png"></a></li>
                        </ul>
                        <div class="inBox">
                            <!--내모임-->
                            <ul id="myMingles">
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_search"><img src="image/Main_Login_내모임.png"><p>모임 찾아보기</p></li>
                                <a  id="more" href="#"><img src="image/오른쪽화살표.png"></a>
                            </ul>
                            <!-- / -->
                            <!--내게시글-->
                            <ul id="myPost">
                                <div class="myPost">
                                <img src="image/Main_Login_내게시물.png">
                                <a  href="#"> 질풍가도</a><br>
                                <a href="#">이날 저녁에 러닝 번개 후 맥주 한잔 할 살암 </a>
                                <li><p>2023. 05. 19</p><p>조회 12</p>
                                </li>
                                </div>
                                <div></div>
                                <a  id="more" href="#"><img src="image/오른쪽화살표.png"></a>
                            </ul>
                            <!-- / -->
                            <!--내스케줄-->
                            <ul id="mySchedule">
                                <div id="scheduleBox">
                                    <div id="table">
                                        <ul id="s1">
                                            <li><a href="#">MON</a></li>
                                            <li><a href="#">TUE</a></li>
                                            <li><a href="#">WED</a></li>
                                            <li><a href="#">THU</a></li>
                                            <li><a href="#">FRI</a></li>
                                            <li><a href="#">SAT</a></li>
                                            <li><a href="#">SUN</a></li>
                                        </ul>
                                        <ul id="s2">
                                            <li id="MON">
                                                <a href="#">
                                                    <img src="image/Main_최근모임스케줄.png" alt="">
                                                    <img src="image/Main_최근모임스케줄.png" alt="">
                                                </a>
                                            </li>
                                            <li id="TUE">
                                                <a href="#">
                                                    <img src="image/Main_최근모임스케줄.png" alt="">
                                                </a>
                                            </li>
                                            <li id="WED">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="THU">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="FRI">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="SAT">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="SUN">
                                                <a href="#">

                                                </a>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>
                                <a  id="more" href="#"><img src="image/오른쪽화살표.png"></a>
                            </ul>
                            <!-- / -->
                        </div>
                    </div>
                    <!-- / -->

                    <!--배너-->
                    <div class="swiper-container banner" >
                         <div class="swiper-wrapper ul">
                            <div class="swiper-slide B_mbti"><a href="/Mbti_banner"><img rel="mbti" src="image/배너_mbti.png"></a></div>
                            <div class="swiper-slide B_hot"><img rel="hot" src="image/배너_%20HOT.png"></div>
                             <div class="swiper-slide B_mypage"><a href="/MyPage"><img rel="mypage" src="image/배너_MYPAGE.png"></a></div>
                             <div class="swiper-slide B_mimgle"><a href="/join"><img rel="mimgle" src="image/배너_mingle.png"></a></div>
                        </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    </div>
                    <!-- / 배너-->

                    <!--내모임-->
                    <div id="mingle" class="myMingle">
                        <ul>
                            <h3>내 모임</h3>
                            <ul>
                                <li></li>
                            </ul>
                         </ul>
                    </div>
                    <!-- / 내모임-->
                    
                    <!--추천모임-->
                    <div id="mingle" class="recMingle">
                        <ul>
                            <h3>추천모임</h3>
                            <ul>
                                <li></li>
                            </ul>
                         </ul>
                    </div>
                    <!-- / 추천모임-->

                </div>
    
            </div>




        <div th:replace="/footer.html"></div>
    </div>



    <script>

        const swiper = new Swiper('.swiper-container', {
            loop: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            slideToClickedSlide: true,
            effect: 'coverflow',

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            coverflowEffect: {
                rotate: 0, // 회전 각도
                stretch: 910, // 슬라이드 겹침 정도
                depth: 300, // 원근 거리
                slideShadows: false, // 슬라이드 그림자 사용 여부
            },
        });

    </script>
</body>
</html>
