<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!--ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--css-->
    <link href="/CSS/Main_LogIn.css" type="text/css" rel="stylesheet">

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
        <div th:replace="/defaultUI.html"></div>

                <!-- 바꿔야하는 부분 -->
                <div class="view">
                    <!--최근 소식-->
                    <div id="l_news">
                        <ul class="header">
                            <li><p>내 모임 최근 소식</p></li>
                            <li><a hred="#">마이 페이지<img rel="오른쪽화살표.png" src="image/오른쪽화살표.png"></a></li>
                        </ul>
                        <div class="inBox">
                            <!--내모임-->
                            <ul id="myMingles">
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_img1"><img src="image/Main_Login_내모임.png"></li>
                                <li class="mingle_search"><img src="image/Main_Login_내모임.png"><p>모임 찾아보기</p></li>
                            </ul>
                            <!-- / -->
                            <!--내게시글-->
                            <ul id="myPost">
                                <div class="myPost">
                                <img src="image/Main_Login_내게시물.png">
                                <a  href="#"> 질풍가도</a><br>
                                <a href="#">이날 저녁에 러닝 번개 후 맥주 한잔 할 살암 </a>
                                <li><p>2023. 05. 19</p><p>조회 12</p>
                                </li>
                                </div>
                                <div></div>
                            </ul>
                            <!-- / -->
                            <!--내스케줄-->
                            <ul id="mySchedule">
                                <div id="scheduleBox">
                                    <div id="table">
                                        <ul id="s1">
                                            <li><a href="#">MON</a></li>
                                            <li><a href="#">TUE</a></li>
                                            <li><a href="#">WED</a></li>
                                            <li><a href="#">THU</a></li>
                                            <li><a href="#">FRI</a></li>
                                            <li><a href="#">SAT</a></li>
                                            <li><a href="#">SUN</a></li>
                                        </ul>
                                        <ul id="s2">
                                            <li id="MON">
                                                <a href="#">
                                                    <img src="image/Main_최근모임스케줄.png" alt="">
                                                    <img src="image/Main_최근모임스케줄.png" alt="">
                                                </a>
                                            </li>
                                            <li id="TUE">
                                                <a href="#">
                                                    <img src="image/Main_최근모임스케줄.png" alt="">
                                                </a>
                                            </li>
                                            <li id="WED">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="THU">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="FRI">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="SAT">
                                                <a href="#">

                                                </a>
                                            </li>
                                            <li id="SUN">
                                                <a href="#">

                                                </a>
                                            </li>
                                        </ul>
                                    </div> 
                                </div>
                            </ul>
                            <!-- / -->
                        </div>
                    </div>
                    <!-- / -->

                    <!--배너-->
                    <div class="swiper-container banner" >
                         <div class="swiper-wrapper ul">
                            <div class="swiper-slide B_mbti"><img rel="mbti" src="image/배너_mbti.png"></div>
                            <div class="swiper-slide B_hot"><img rel="hot" src="image/배너_HOT.png"></div>
                            <div class="swiper-slide B_mypage"><img rel="mypage" src="image/배너_MYPAGE.png"></div>
                            <div class="swiper-slide B_mimgle"><img rel="mimgle" src="image/배너_mingle.png"></div>
                        </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    </div>
                    <!-- / 배너-->

                    <!--내모임-->
                    <div id="myMingle" class="mingle">
                        <ul>
                            <h3>내 모임</h3>
                            <div id="myMingCard">

                            </div>
                         </ul>
                    </div>
                    <!-- / 내모임-->
                    
                    <!--추천모임-->
                    <div id="recMingle" class="mingle">
                        <ul>
                            <h3>추천모임</h3>
                            <ul>
                                <li></li>
                            </ul>
                         </ul>
                    </div>
                    <!-- / 추천모임-->

                </div>
    
            </div>




        <div th:replace="/footer.html"></div>
    </div>
    <input type="hidden" id="loginId" th:value="${session.loginId}">
    <script>

        const swiper = new Swiper('.swiper-container', {
            loop: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            slideToClickedSlide: true,
            effect: 'coverflow',
            autoplay: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            coverflowEffect: {
                rotate: 0, // 회전 각도
                stretch: 910, // 슬라이드 겹침 정도
                depth: 300, // 원근 거리
                slideShadows: false, // 슬라이드 그림자 사용 여부
            },
        });
        window.onload = function() {
            var loginId = document.getElementById("loginId").value;
            console.log("loginId = "+loginId);

            if(loginId == null){
                alert("(error)"+"로그인이 필요한 항목입니다.\n"+"회원 가입 또는 로그인을 해주세요");
            }
            else{
                $.ajax({
                    url: "Main_LogIn/findMyMingles",
                    type : 'GET',
                    success: function(response) {
                        console.log("response = "+response)

                        for (var i = 0; i < response.length; i++) {
                            var mingles = response[i];
                            console.log("response[i] =", mingles);
                            var 모임명 = mingles.gname;
                            var 모임이미지 = mingles.gcoverimg;
                            var 모임카테고리 = mingles.gMainsubject;
                            var 모임지역 = (mingles.gcity)+""+(mingles.gdistrict);
                            var 모임소개글 = mingles.gintroduction;
                            console.log("ajax : 모임명 확인 =", 모임명);
                            console.log("ajax : response.length+1 확인 =", response.length);
                            var htmlMingle =
                                '<div className="mingle">\n' +
                                '<ul>\n' +
                                '<img src="'+모임이미지+'">\n' +
                                '<li id="mTitle"><h4>'+모임명+'</h4> <img src=""></li>\n' +
                                '<li id="mCategorie">'+모임카테고리+'</li>\n' +
                                '<li id="mRogi">'+모임지역+'</li>\n' +
                                '<li id="mUser"><a href="#">'+96+'</a>명이 참여 중</li>\n' +
                                '</ul>\n' +
                                '<p id="mIntd">'+모임소개글+'</p>\n' +
                                '</div>';

                            $("#myMingCard").append(htmlMingle);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });

            }
        };



    </script>
</body>
</html>
