<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <!--swiper-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!--css-->
    <link href="CSS/MyPage.css" type="text/css" rel="stylesheet">

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

<div id="wrap" class="clearfix">
    <div th:replace="/header.html"></div>


        <!--뷰-->
        <div id="view">
            <!--마이페이지-->
            <div class="title">
                <img alt="큰제목" src="image/MyPageTitle.png">
                <p>마이 페이지</p>

                <div class="profile">
                    <ul>
                        <li class="pimg">
                            <a href="index.html">
                                <img alt="프로필사진" src="image/DefaultProfile_logo.png">
                            </a>
                        </li>

                        <li class="text">
                            <p class="name">Amelia</p>
                            <p class="info">1998.01.18<br><br>여</p>
                        </li>

                        <li class="inBox">
                            <p class="coment">누구를위한 삶인가       .//... 인생이란 무엇인가
                                인생은 부먹인가 찍먹인가
                                소주와 맥주는 대체 왜 먹는것일까
                                그렇지만 없다면 나는 살수 없다
                                한잔 허쉴?
                            </p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    <div th:replace="/footer.html"></div>

</div>

</body>
</html>