<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--css-->
    <link href="/css/schedule.css?after" type="text/css" rel="stylesheet">
</head>
<body>
<div th:replace="/defaultUI.html"></div>
            <!-- 바꿔야하는 부분 -->
            <div class="my_schedule">
                <ul>
                    <li class="my_scd"><a href="#">내 일정</a></li>
                </ul>
                <div class="my_scd_box">
                    <ul>
                        <li><img class="jjang1" src="image/짱구1.png"></li>
                        <li><img class="jjang2" src="image/짱구2.png"></li>
                        <li><img class="jjang3" src="image/짱구3.png"></li>
                        <li><img class="jjang4" src="image/짱구4.png"></li>
                    </ul>
                    <div class="box1"></div>
                    <div class="box2"></div>
                    <div class="box3"></div>
                    <div class="box4"></div>
                </div>
            </div>

            <div class="footer">
                <div class="footer_menu">
                    <a href="#">이용약관</a>
                    <a href="#">개인정보처리방침</a>
                    <a href="#">책임의 한계와 법적고지</a>
                    <a href="#">회원정보 고객센터</a>
                </div> <!--footer메뉴 -->
                <div class="f_copyright" >
                    <img src="image/login_footer.png">
                    <p>Copyright ⓒ </p>
                    <p class="corp">mingle Corp. </p>
                    <p>All Rights Reserved.</p>
                </div> <!--copyright -->
            </div>
        </div>


    </section>


</div>
</body>
</html>
