 <!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>

    <!--css-->
    <link href="/CSS/search1.css" type="text/css" rel="stylesheet">
      <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <div id="wrap" class="clearfix">
      <div th:replace="/header.html"></div>
            <!-- 바꿔야하는 부분 -->
            <div class="view">

              <!-- 검색창 -->
              <div id="search">
                <ul>
                  <input id="search_F" class="search" type="text"></input>
                  <img id="search_I" class="search" src="image/search_검색버튼.png"><a  href="#"></a></img>
                </ul>
              </div>
              
              <!-- 관심사 -->
              <section id="inter_Box">
                <!-- 관심사 선택 1 -->
                <div id="inter1">
                  <ul>
                    <h2>관심사 선택</h2>
                    <li class="I_Igms1">
                      <img src="image/inter/여행.png" alt="" >
                      <img src="image/inter/운동스포츠.png" alt="">
                      <img src="image/inter/독서.png" alt="">
                      <img src="image/inter/업종직무.png" alt="">
                    </li>
                    <li class="I_Igms2">
                      <img src="image/inter/문화공연.png" alt="">
                      <img src="image/inter/음악악기.png" alt="">
                      <img src="image/inter/공예.png" alt="">
                      <img src="image/inter/댄스.png" alt="">  
                    </li>
                    <li class="I_Igms3">
                      <img src="image/inter/사교.png" alt="">
                      <img src="image/inter/차.png" alt="">
                      <img src="image/inter/사진.png" alt="">
                      <img src="image/inter/게임.png" alt="">
                   </li>
                    <li class="I_Igms4">
                      <img src="image/inter/요리.png" alt="">
                      <img src="image/inter/반려동물.png" alt="">
                      <img src="image/inter/가족.png" alt="">
                      <img src="image/inter/자유주제.png" alt="">    
                    </li>
                  </ul>
                </div>
                <div id="re_in">
                <!-- 거주지역 -->
                <div id="regi">
                  <ul>
                    <li id="r_img"><img src="image/search_지역.png" alt=""></li>
                    <li id="r_text">서울시 구로구 구로동</li>
                    <li id="r_plus"><a href="#"><img src="image/오른쪽화살표.png"></a></li>
                  </ul>
                </div>
                <!-- 관심사 선택 2 -->
                <div id="inter2"> 
                  <div id="Iheader">
                    <img src="image/inter/댄스.png" alt="">
                    <P>댄스/무용</P>
                  </div>
                  <ul>
                    <a class="inter2" href="">전체</a>
                    <a class="inter2" href="">사교댄스</a>
                    <a class="inter2" href="">-----</a>
                  </ul>
                </div>
              </div>
              </section>
              <!-- / 관심사 -->

            </div>

        </div>



    </section>
</div>
</body>
</html> 