<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--css-->
    <link href="/css/Create_Meet.css" type="text/css" rel="stylesheet">
    <!--script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- font-family: 'NexonLv1Gothic'; -->
    <link href="https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css" rel="stylesheet">
</head>
<body>
<section>
    <div id="inter1">
        <ul>
            <h2>관심사 선택</h2>
            <li class="I_Igms1">
                <a value="여행"><img src="image/inter/여행.png" alt="" ><p class="iName">여행</p></a>
                <a  value="운동스포츠"><img src="image/inter/운동스포츠.png"alt=""><p class="iName">운동/스포츠</p></a>
                <a value="독서"><img src="image/inter/독서.png"alt=""><p class="iName">독서</p></a>
                <a value="업종직무"><img src="image/inter/업종직무.png"alt=""><p class="iName">업종/직무</p></a>
            </li>
            <li class="I_Igms2">
                <a value="문화공연축제"><img src="image/inter/문화공연.png"alt=""><p class="iName">문화/공연/축제</p></a>
                <a value="음악악기"><img src="image/inter/음악악기.png"alt=""><p class="iName">음악/악기</p></a>
                <a value="공예만들기"><img src="image/inter/공예.png"alt=""><p class="iName">공예/만들기</p></a>
                <a value="댄스무용"><img src="image/inter/댄스.png"alt=""><p class="iName">댄스/무용</p></a>
            </li>
            <li class="I_Igms3">
                <a value="사교인맥"><img src="image/inter/사교.png"alt=""><p class="iName">사교/인맥</p></a>
                <a value="차오토바이"><img src="image/inter/차.png"alt=""><p class="iName">차/오토바이</p></a>
                <a value="사진영상" ><img src="image/inter/사진.png"alt=""><p class="iName">사진/영상</p></a>
                <a value="게임오락" ><img src="image/inter/게임.png"alt=""><p class="iName">게임/오락</p></a>
            </li>
            <li class="I_Igms4">
                <a value="요리제조"><img src="image/inter/요리.png"alt=""><p class="iName">요리/제조</p></a>
                <a value="반려동물"><img src="image/inter/반려동물.png"alt=""><p class="iName">반려동물</p></a>
                <a value="가족결혼"><img src="image/inter/가족.png"alt=""><p class="iName">가족/결혼</p></a>
                <a value="자유주제"><img src="image/inter/자유주제.png"alt=""><p class="iName">자유주제</p></a>
            </li>
        </ul>
    </div>
    <div id="subWrap" style="display: none;">
        <div id="subContent">
            <p id="selectedMainInter"></p>
            <ul id="subInterestList" style="overflow-y: auto">
                <!-- 세부 관심사가 여기에 추가됩니다. -->
            </ul>
        </div>
    </div>
</section>
</body>
</html>