<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>select_Resion</title>

     <!--css-->
    <link rel="stylesheet" href="/CSS/selectResi.css">

    <!--font-->
    <!--font-family: 'GmarketSans';-->
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <!--font-family: 'Orbitron', sans-serif;-->
    <link href="https://webfontworld.github.io/goodchoice/Jalnan.css" rel="stylesheet">
    <!--font-family: 'Jalnan';-->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="wrap" class="clearfix">
        <div>
            <input id="regiSearch" type="search" name="regiSearch" onkeyup="enterkey()" placeholder="동 . 읍.  면을 선택해주세요.">
        </div>
        <div>
            <a id="showRegi" href="">
                <p>가리봉동 (서울특별시 구로구)</p>
                <p>th:text={}</p>
            </a>
        </div>
    </div>
    <script>
    function enterkey() {
    if (window.event.keyCode == 13) {
    const regiSearch = document.getElementById('regiSearch').value;
        $.get("/search", { keyword: regiSearch }, function(data) {
            // Clear previous results
            $("#showRegi").empty();

            // Append new results to the div
            data.forEach(function(item) {
                $("#showRegi").append('<p>' + item + '</p>');
            });
        });
    }
    }
    </script>
</body>
</html>